# Environment variables for the Next.js application
NEXT_PUBLIC_API_URL=

# The name of the cookie used to store the device ID
NEXT_PUBLIC_DEVICE_COOKIE_NAME=deviceId
NEXT_PUBLIC_DEVICE_COOKIE_EXPIRE=1d #type ms or string like '1d', '7d', etc.
NEXT_PUBLIC_OTP_EXPIRE=5m
NEXT_PUBLIC_OTP_RESEND_COOLDOWN=60 # default 60 seconds cooldown for resending OTP

# Axios Configuration
NEXT_PUBLIC_ACCESS_TOKEN_KEY=access_token
NEXT_PUBLIC_AUTHORIZATION_HEADER=Authorization
NEXT_PUBLIC_BEARER_PREFIX=Bearer